.App {
  text-align: center;
  background: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  overflow-y: hidden;
}

.dateDisplay{
  color: #ff47b4;
  font-size: 16.5px;
  line-height: 2px;
}

.formLableStyle{
  color: #ff47b4;
  font-size: 21px;
}

.formStyle{
  margin: 40px;
}

.cardLableStyle{
  font-size: 18px;
}

.cardGradient{
  background: linear-gradient(to right, #f80759, #bc4e9c);
  color:white;
}